#container {
    border-radius:5px;
}
#levels {
    margin-top: 5px;
}
.level-buttons {
    font-size: 55px;
    width: 90px;
    box-shadow: 3px 4px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#5a6c5c;
	border-radius:5px;
	border:0px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
    margin-bottom: 3%;
}
.level-buttons:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.level-buttons:active {
	position:relative;
	top:1px;
}

#win {
    color: white; 
    font-size: 65px;
    font-family:Arial;
	font-weight:bold;
	background:linear-gradient(to top, #548954 5%, #54956d 100%);
	background-color:#768d87;
    padding: 30px;
    display: none;
    border-radius: 5px;
}

#start-game {
    font-size: 45px;
    box-shadow: 3px 4px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:0px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
#start-game:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
#start-game:active {
    position:relative;
	top:3px;
}
#next {
    display: none;
    text-align: center;
    font-size: 70px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    color: white;
    font-family:Arial;
	font-weight:bold;
    cursor:pointer;
    box-shadow: 3px 4px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
    text-shadow:0px 1px 0px #2b665e;
}
#next:active {
    position:relative;
	top:3px;
}
#next:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
#complete > p{
    display: none;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: auto;
    color: white;
    font-family:Arial;
	font-weight:bold;
	background:linear-gradient(to bottom, #768d77 5%, #6c7c72 100%);
	background-color:#768d87;
    text-shadow:0px 1px 0px #2b665e;
}
.tutorial {
    position: absolute; 
    width: 50%; 
    height: 50%; 
    top: 25%; 
    left: 24%; 
    background-color: rgb(237, 159, 169);
    border-radius: 5px;
    box-shadow: 6px 7px 0px 0px rgba(104, 70, 83, 0.5);
}
.tutorial > p {
    text-align: center; 
    color: white;
    font-size: 25px;
    font-family:Arial;
	font-weight:bold;
    padding-right: 10px;
    padding-left: 10px;
    
}
.finish-tutorial {
    font-size: 25px;
    bottom: 20%;
    font-size: 35px;
    box-shadow: 3px 4px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#5a6c5c;
	border-radius:5px;
	border:0px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
    margin-bottom: 3%;
}

.finish-tutorial:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.finish-tutorial:active {
	position:relative;
	top:1px;
}